@{
    ViewData["Title"] = "AddStationery";
    var supplierid = ViewData["supplierid"];
    var msg = ViewData["alertMsg"];
    var inventoryList = (List<InventoryItem>)ViewData["inventList"];
}

@if (msg != null)
{
    <script type="text/javascript">
        window.onload = function () {
            swal("@msg");
        };
    </script>
}

<div align="center">
    <h2>New Stationery</h2>
    <form class="form-horizontal" action="/Supplier/SaveStationery" method="POST" style="margin-top:40px; margin-bottom:50px;">
        <div class="form-group">
            <label class="col-sm-5 control-label">Supplier Id:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="SupplierId" value="@supplierid" readonly style="width:300px">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-5 control-label">Item Description:</label>
            <div class="col-sm-3">
                <select id="inventoryId" class="form-control" name="InventoryItemId" style="width:300px">
                    @foreach (var item in inventoryList)
                    {
                        <option data-uom=@item.UOM id="InventoryItemId" value=@item.Id>@item.Description </option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Item ID:</label>
            <div class="col-sm-3">
                <input class="form-control" id="itemId" name="itemId" type="text" style="width:300px" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label">Unit of Measure:</label>
            <div class="col-sm-3">
                <input class="form-control" id="UOM" name="UOM" type="text" style="width:300px" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-5 control-label">Tender Price:</label>
            <div class="col-sm-3">
                <input class="form-control" name="TenderPrice" type="text" style="width:300px">
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-danger" formaction="Index">Cancel</button>
            <button type="submit" id="btnSave" class="btn btn-success">Save</button>
        </div>
    </form>
</div>

<script>
    $("#inventoryId").change(function () {
        var uom = $(this).find(':selected').data('uom')
        $("#UOM").val(uom);
        var itemId = $(this).val()
        $("#itemId").val(itemId)
    });


</script>

