@{
    ViewData["Title"] = "AddStationery";
    //var supplierid = (string)ViewData["supplierid"];
    var supplierid = ViewData["supplierid"];
    var msg = ViewData["alertMsg"];
}

@if (msg != null)
{
    <script type="text/javascript">
        window.onload = function () {
            swal("@msg");

        };
    </script>
}

<div align="center">
    <h2>New Stationery</h2>
    <form class="form-horizontal" action="SaveStationery" method="POST" style="margin-top:40px; margin-bottom:50px;">
        <div class="form-group">
            <label class="col-sm-5 control-label">Supplier Id:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="SupplierId" value="@supplierid" readonly style="width:300px">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-5 control-label">Inventory Item Id:</label>
            <div class="col-sm-3">
                <input class="form-control" name="InventoryItemId" type="text" style="width:300px">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-5 control-label">UOM:</label>
            <div class="col-sm-3">
                <input class="form-control" name="UOM" type="text" style="width:300px">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-5 control-label">Tender Price:</label>
            <div class="col-sm-3">
                <input class="form-control" name="TenderPrice" type="text" style="width:300px">
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-danger" formaction="Index">Cancel</button>
            <button type="submit" id="btnSave" class="btn btn-success">Save</button>
        </div>
    </form>
</div>

