@{
    ViewData["Title"] = "SupplierStationeryList";

    var supplierstationeryList = (List<SupplierStationery>)ViewData["supplierstationeryList"];
    var supplierid = ViewData["supplierid"];
    var suppliername = ViewData["suppliername"];
}

<h1 style="text-align:center">Supplier Stationery Details</h1>

<form method="post" style="margin-bottom:50px">
    <div class="container">

        <h3 align="center">SUPPLIER ID:@supplierid </h3>
        <input name="Button1" style="margin-left:70px" title="Submit" class="btn btn-success" value="Add New Stationery" formaction="~/Supplier/AddStationery?id=@supplierid" style="border-style:Solid;" type="submit"></>
        <br />
        <table class="table table-bordered" align="center" style="margin-top:20px; width:1000px; text-align:center">
            <thead style="background-color:lightgrey">
                <tr align="center">
                    <th style="text-align:center">Description</th>
                    <th style="text-align:center">UOM</th>
                    <th style="text-align:center">Tender Price</th>
                    <th style="text-align:center">Action</th>
                    <th style="text-align:center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in supplierstationeryList)
                {
                    <tr>
                        <td>@item.InventoryItem.Description</td>
                        <td>@item.UOM</td>
                        <td>@item.TenderPrice</td>

                        <td>
                            <button type="submit" class="btn btn-warning btn-xs" formaction="/Supplier/EditDeleteStationery?cmd=edit&Id=@item.Id">Edit</button>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-danger btn-xs" formaction="/Supplier/EditDeleteStationery?cmd=delete&Id=@item.Id">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>
