@{
    ViewData["Title"] = "Logic University Stationery Store Inventory System";
    Layout = "_LoginLayout";
}
<h1 class="display-4" align="center">@ViewData["Title"]</h1>

<h5 align="center">Change Password</h5>
<br />
<br />
<br />

<form id="changePasswordForm" action="ChangePassword" method="POST">
    <table align="center">
        <tr>
            <td>Old Password:</td>
            <td><input id="oldPassword" name="oldPassword" type="password" /></td>
        </tr>
        <tr>
            <td>New Password:</td>
            <td><input id="newPassword" name="newPassword" type="password" /></td>
        </tr>
        <tr>
            <td>Confirm Password:</td>
            <td><input id="confirmPassword" name="confirmPassword" type="password" /></td>
        </tr>
        <tr>
            <td colspan="2" align="right"><input id="changePasswordBtn" type="submit" value="Submit" /></td>
        </tr>
        <tr>
            <td colspan="2" class="err">
                <div id="errmsg">
                    @if (ViewData.ContainsKey("errmsg"))
                    {
                        @ViewData["errmsg"];
                    }
                </div>
            </td>
        </tr>


    </table>
    <input id="hashPwd" name="hashPassword" type="hidden" />
</form>
