@{
    ViewData["Title"] = "Logic University Stationery Store Inventory System";
    Layout = "_LoginLayout";
}


<div class="container">
    <div class="icon" align="center">
        <img src="https://img.icons8.com/carbon-copy/100/000000/stationery.png" />
    </div>
    <h2 align="center" style="margin-bottom:30px">@ViewData["Title"]</h2>

    <form class="form-horizontal" id="changePasswordForm" action="ChangePassword" method="POST">
        <div class="form-group">
            <label class="control-label col-sm-5">Old Password:</label>
            <div class="col-sm-3">

                <input id="oldPassword" class="form-control" name="oldPassword" type="password" placeholder="Enter current password" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-5">New Password:</label>
            <div class="col-sm-3">
                <input id="newPassword" class="form-control" name="newPassword" type="password" placeholder="Enter new  password"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-5">Confirm Password:</label>
            <div class="col-sm-3">
                <input id="confirmPassword" class="form-control" name="confirmPassword" type="password" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-6 col-sm-10">
                <button type="submit" id="changePasswordBtn" class="btn btn-success" value="Change Password">Change Password</button>
            </div>
        </div>
        <div id="errmsg" align="center">
            <span style="color:red">

                @if (ViewData.ContainsKey("errmsg"))
                {
                    @ViewData["errmsg"];
                }
            </span>
        </div>
        <input id="hashPwd" name="hashPassword" type="hidden" />
    </form>
</div>
