<!--AUTHOR: GUO JIEYI-->
@{
    ViewData["Title"] = "Logic University Stationery Store Inventory System";
    Layout = "_LoginLayout";
}

<br />
<br />
<br />

<div class="container">
    <div class="icon" align="center">
        <img src="https://img.icons8.com/carbon-copy/100/000000/stationery.png" />
    </div>
    <h2 align="center" style="margin-bottom:30px">@ViewData["Title"]</h2>
    <form class="form-horizontal" id="loginForm" action="/Account/Login" method="POST">
        <div class="form-group">
            <label class="control-label col-sm-5" for="email">Email:</label>
            <div class="col-sm-3">
                <input type="email" class="form-control" id="username" name="username" placeholder="Enter email">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-5" for="pwd">Password:</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                <div id="errmsg" align="center">
                    <span style="color:red">
                        @if (ViewData.ContainsKey("errmsg"))
                        {
                            @ViewData["errmsg"];
                        }
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-6 col-sm-10">
                <button type="submit" class="btn btn-success" id="loginBtn" value="Submit">Login</button>
            </div>
        </div>
        <input id="hashPwd" name="hashPassword" type="hidden" />
    </form>
</div>