@{
}
<form action="/Disbursement/Generate">
    <input type="submit" id="generateDisbursementBtn" value="Generate Disbursement Lists" class="center-block" />
    <input id="retrievalId" name="retrievalId" value="1" type="hidden" />
</form>
