
@{
    ViewData["Title"] = "Retrieval List";
    var rtList=(List<Retrieval>)ViewData["rtList"];
}
    <form method="post" style="margin-bottom:40px" action="/Disbursement/Generate">
        <div class="container" align="center">
            <h2>Retrieval Records</h2>
            <table class="table table-bordered" style="width:500px; margin-top:20px">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>ID</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rtd in rtList)
                    {
                        <tr>
                            <td>@rtd.DateRetrieved</td>
                            <td><a href="/Retrieval/RetrievalDetails?rId=@rtd.Id">RT @rtd.Id</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>

