<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ADProj</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Inventory<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a asp-controller="InventoryItem" asp-action="AddInventoryItem">Add New Item</a></li>
                        <li><a asp-controller="InventoryItem" asp-action="Index">Inventory Item List</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Category<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a asp-controller="InventoryItem" asp-action="AddItemCategory">Add New Category</a></li>
                        <li><a asp-controller="InventoryItem" asp-action="CategoryList">Category List</a></li>
                    </ul>
                </li>
                <li><a href="#">Page 2</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-controller="Account" asp-action="PasswordChange"><span class="glyphicon glyphicon-lock"></span> Change Password</a></li>
                <li><a asp-controller="Account" asp-action="Logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
    <div style="float">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div th:fragment="footer" class="footer" style="position: fixed;left:0;bottom: 0;width: 100%; background-color: black;
  color: white;
  text-align: center;">
        <p><small>Logic University Stationery Store Inventory System</small></p>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
