@using Microsoft.AspNetCore.Http
@{ string role = (string)Context.Session.GetString("role");
    string name = (string)Context.Session.GetString("name");
    string id = (string)Context.Session.GetString("id");
    string userimageurl = "/employeeimages/" + @id + ".jpg";
    }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ADProj</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <style>
        .navbaralign {
            margin-top: 13px;
        }
    </style>



</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbaralign">
                @{ if (role == ADProj.Enums.EmployeeRole.STORECLERK)
                    {
                        <li class="nav-item"><a asp-controller="Home" asp-action="StoreClerk">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Inventory<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="InventoryItem" asp-action="AddInventoryItem">Add New Item</a></li>
                                <li><a asp-controller="InventoryItem" asp-action="Index">Inventory Item List</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="InventoryItem" asp-action="CategoryList">Category</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Supplier" asp-action="Index">Suppliers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Request" asp-action="Outstanding">Outstanding Requests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CollectionPoint" asp-action="Index">Collection Points</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Retrieval" asp-action="Index">Retrieval</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Disbursement" asp-action="Index">Disbursement</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Purchase Order<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="PurchaseOrder" asp-action="RaisePO">Raise Purchase Order</a></li>
                                <li><a asp-controller="PurchaseOrder" asp-action="Index">Purchase Order List</a></li>
                            </ul>
                        </li>
 }
                    else if (role == ADProj.Enums.EmployeeRole.STORESUPERVISOR)
                    {
                        <li class="nav-item"><a asp-controller="TrendAnalysis" asp-action="GeneralTrend">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Inventory<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="InventoryItem" asp-action="AddInventoryItem">Add New Item</a></li>
                                <li><a asp-controller="InventoryItem" asp-action="Index">Inventory Item List</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Category<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="InventoryItem" asp-action="AddItemCategory">Add New Category</a></li>
                                <li><a asp-controller="InventoryItem" asp-action="CategoryList">Category List</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Supplier" asp-action="Index">Suppliers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Department" asp-action="Index">Departments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CollectionPoint" asp-action="Index">Collection Points</a>
                        </li>
                        <li class="nav-item"><a href="/trendanalysis/trendanalysisrequestvolume">Trend Analysis</a></li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AdjustmentVoucher" asp-action="Index">Adjustment Voucher</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">...<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Request" asp-action="Outstanding">Outstanding Requests</a></li>
                                <li>
                                    <a asp-area="" asp-controller="Disbursement" asp-action="Index">Disbursement</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Retrieval" asp-action="Index">Retrieval</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="RaisePO">Raise Purchase Order</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="PurchaseOrder" asp-action="Index">Purchase Order List</a>
                                </li>
                            </ul>
                        </li>
                    }
                    else if (role == ADProj.Enums.EmployeeRole.STOREMANAGER)
                    { 
                        <li class="nav-item"><a asp-controller="TrendAnalysis" asp-action="GeneralTrend">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Inventory<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="InventoryItem" asp-action="AddInventoryItem">Add New Item</a></li>
                                <li><a asp-controller="InventoryItem" asp-action="Index">Inventory Item List</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Category<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="InventoryItem" asp-action="AddItemCategory">Add New Category</a></li>
                                <li><a asp-controller="InventoryItem" asp-action="CategoryList">Category List</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Supplier" asp-action="Index">Suppliers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Department" asp-action="Index">Departments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CollectionPoint" asp-action="Index">Collection Points</a>
                        </li>
                        <li><a href="/trendanalysis/trendanalysisrequestvolume">Trend Analysis</a></li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AdjustmentVoucher" asp-action="Index">Adjustment Voucher</a>
                        </li>
                    }
                    else if (role == ADProj.Enums.EmployeeRole.DEPTHEAD)
                    {
                        <li class="nav-item"><a asp-controller="Home" asp-action="DepartmentHead">Home</a></li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Request" asp-action="Requestpendingapproval">Approve Request</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Delegate">Delegate Authority</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DepartmentHead" asp-action="UpdateDepartmentRep">Update Department Representative</a>
                        </li>
                    }
                    else if (role == "ActingHead")
                    {
                        <li class="nav-item"><a asp-controller="Home" asp-action="DepartmentHead">Home</a></li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Request" asp-action="Requestpendingapproval">Approve Request</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="DepartmentHead" asp-action="UpdateDepartmentRep">Update Department Representative</a>
                        </li>
                    }
                    else if (role == ADProj.Enums.EmployeeRole.DEPTREP)
                    {
                        <li class="nav-item"><a asp-controller="Home" asp-action="Employee">Home</a></li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Request" asp-action="Index">Raise Request</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Request" asp-action="ViewMyRequestHistory">View Request History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DepartmentRep" asp-action="SetCollectionPoint">Set Collection Point</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item"><a asp-controller="Home" asp-action="Employee">Home</a></li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Request" asp-action="Index">Raise Request</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Request" asp-action="ViewMyRequestHistory">View Request History</a>
                        </li>
                    } }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>Welcome @name ! &nbsp;&nbsp;&nbsp; <img src=@userimageurl onerror="this.src='/employeeimages/avatarimage.png'" style="border-radius:28px; width:50px" /></a></li>
                <li><a asp-controller="Account" asp-action="PasswordChange"class="navbaralign"><span class="glyphicon glyphicon-lock"></span> Change Password</a></li>
                <li><a asp-controller="Account" asp-action="Logout"class="navbaralign"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div th:fragment="footer" class="footer" style="position: fixed;left:0;bottom: 0;width: 100%; background-color: black;
         color: white;
         text-align: center;">
        <p><small>Logic University Stationery Store Inventory System</small></p>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>