<!--AUTHOR: JAMES FOO -->

@{
    ViewData["Title"] = "Purchase Order Form";
    var supplierStationeries = (List<SupplierStationery>)ViewData["SupplierDetailsList"];
    var supplierList = (List<Supplier>)ViewData["SupplierList"];
}


<div>
    <div align="center" style="margin-top:20px"><img src="https://img.icons8.com/metro/52/000000/overview-pages-3.png" /></div>
    <h2 align="center">Purchase Order</h2>
    <form class="form-horizontal col-sm-5" style="margin-top:40px; margin-bottom:50px">
        <div align="center">
            <div class="form-group">
                <label class="col-sm-5 control-label">Supplier Code:</label>
                <div class="col-sm-3">
                    <select id="selectOne" class="form-control" style="width:300px">
                        <option style="display:none">Select a supplier</option>
                        @foreach (var supplier in supplierList)
                        {
                            <option id="category-name" value=@supplier.Id>@supplier.Id</option>

                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Description:</label>
                <div class="col-sm-3">
                    <select id="selectTwo" class="form-control" style="width:300px">
                        <option style="display:none">Select Item</option>
                        @foreach (var stationery in supplierStationeries)
                        {
                            <option data-itemid=@stationery.InventoryItemId data-cat=@stationery.InventoryItem.ItemCategoryId data-uom=@stationery.UOM value=@stationery.SupplierId>@stationery.InventoryItem.Description</option>

                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Item ID:</label>
                <div class="col-sm-3">
                    <input type="text" name="itemid" id="itemid" class="form-control" style="width:300px" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Unit of Measurement:</label>
                <div class="col-sm-3">
                    <input type="text" name="uom" id="uom" class="form-control" style="width:300px" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label">Order Quantity:</label>
                <div class="col-sm-3">
                    <input type="text" name="orderQty" id="orderQty" class="form-control" style="width:300px" />
                </div>
            </div>
            <div class="form-group" style="margin-left:300px">
                <div class="col-sm-3">
                    <button type="button" id="btn_Add" class="btn btn-success">Add</button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-5 control-label" style="display:none">ItemId:</label>
                <div class="col-sm-3">
                    <input type="text" name="demo2" id="demo2" class="form-control" style="display:none" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label" style="display:none">category:</label>
                <div class="col-sm-5">
                    <input type="text" name="cat" id="cat" class="form-control" style="display:none" />
                </div>
            </div>
        </div>

    </form>
</div>

<div class="container" align="center" style="margin-top:30px">
    <div align="center">

        <table id="tblOrderDetails" class="table table-bordered" style="text-align:center; width:600px; margin-top:20px">
            <thead>
                <tr>
                    <th style="text-align:center">Supplier Code</th>
                    <th style="text-align:center">Description</th>
                    <th style="text-align:center">Item ID</th>
                    <th style="text-align:center">Quantity</th>
                    <th style="text-align:center">UOM</th>
                    <th style="display:none">Category ID</th>
                    <th style="text-align:center">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="form-group">
            <div align="center">
                <button type="button" value="Reset" id="btnReset" class="btn btn-danger">Reset</button>
                <button type="button" value="Submit" id="btnSubmit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/purchaseOrder.js"></script>
